#textdomain wesnoth-Oath_of_Allegiance
[unit_type]
    id=Dune Cloudlurker
    name= _ "Dune Cloudlurker"
    race=dunefolk
    image="units/dunefolk/cloudlurker.png"
    hitpoints=58
    movement_type=lightfly
    movement=8
    experience=150
    level=3
    alignment=liminal
    advances_to=null
    cost=55
    usage=fighter
    
	{AMLA_DEFAULT}
    description= _ "The Dune Cloudlurker are experts at surviving and hiding in the wilderness of the southern lands. Given their knowledge of the human anatomy and the creatures of the deserts, the Dune Cloudlurker is able to hit the weak point of any enemy with ease."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/dunefolk/cloudlurker.png" "units/dunefolk/cloudlurker.png" {SOUND_LIST:HUMAN_HIT} }
	
    [attack]
        name=fangs
        #textdomain wesnoth-units
        description=_"fangs"
        icon=attacks/fangs-snake.png
        type=blade
        range=melee
        damage=11
        number=2
		[specials]
			{WEAPON_SPECIAL_POISON}
		[/specials]
    [/attack]
	
    [attack]
        name=bow
        description=_"bow"
        #textdomain wesnoth-Oath_of_Allegiance
        icon=attacks/bow-short.png
        type=pierce
        range=ranged
        damage=14
        number=4
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-445
        [frame]
            image="units/dunefolk/cloudlurker.png:65"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -380}
        [frame]
            image="units/dunefolk/cloudlurker.png:[75*2,100,130]"
        [/frame]
        [frame]
            image="units/dunefolk/cloudlurker.png:65"
        [/frame]
    [/attack_anim]
	
	[standing_anim]
        start_time=0
        [frame]
            image="units/dunefolk/cloudlurker-bob-[1~3,2].png:[230*4]"
        [/frame]
    [/standing_anim]
	
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        offset=0.0~0.5,0.5~0.7,0.7~0.8,0.8~0.7,0.7~0.5,0.5~0.0
        start_time=-330
        [frame]
            image="units/dunefolk/cloudlurker.png:[120*3]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
    [/attack_anim]
[/unit_type]
