#textdomain wesnoth-Oath_of_Allegiance
[unit_type]
    id=Dune Sandstalker
    name= _ "Dune Sandstalker"
    race=dunefolk
    image="units/dunefolk/sandstalker.png"
    hitpoints=50
    movement_type=dunearmoredfoot
    movement=7
    experience=125
    level=3
    alignment=liminal
    advances_to=null
    cost=55
    usage=fighter
	ignore_race_traits=yes
	num_traits=2
    {TRAIT_DEXTROUS}
	{TRAIT_INTELLIGENT}
	{TRAIT_QUICK}
	{TRAIT_RESILIENT}
    description= _ "The Dune sandstalker are experts at surviving and hiding in the wilderness of the southern lands. Given their knowledge of the human anatomy and the creatures of the deserts, the Dune sandstalker is able to hit the weak point of any enemy with ease."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/dunefolk/sandstalker.png" "units/dunefolk/sandstalker.png" {SOUND_LIST:HUMAN_HIT} }
	
	{AMLA_DEFAULT}
    [abilities]
        {ABILITY_SANDSTALK}
    [/abilities]
	
	[attack]
        name=dagger
        #textdomain wesnoth-units
        description= _ "dagger"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
	
    [attack]
        name=bow
        description=_"bow"
        #textdomain wesnoth-Oath_of_Allegiance
        icon=attacks/bow-short.png
        type=pierce
        range=ranged
        damage=12
        number=4
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
    [/attack]
	
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]

        start_time=-200

        [frame]
            duration=300
        [/frame]

        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
	
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-445
        [frame]
            image="units/dunefolk/sandstalker.png:65"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -380}
        [frame]
            image="units/dunefolk/sandstalker.png:[75*2,100,130]"
        [/frame]
        [frame]
            image="units/dunefolk/sandstalker.png:65"
        [/frame]
    [/attack_anim]
[/unit_type]
