#textdomain wesnoth-Oath_of_Allegiance

#define WEAPON_SPECIAL_FIRE
    [damage_type]
        id=fire_damage
        name= _ "fire"
        description= _ "This attack combines the fire type with the type of weapon used so that resistance to the fire type does not penalize the user."
        special_note=_ "This unit can use the fire type when the opponent is particularly sensitive to it in relation to the weapon on which it is applied."
        alternative_type=fire
    [/damage_type]
#enddef

#define WEAPON_SPECIAL_COLD
    [damage_type]
        id=cold_damage
        name= _ "cold"
        description= _ "This attack combines the cold type with the type of weapon used so that resistance to the cold type does not penalize the user."
        special_note=_ "This unit can use the cold type when the opponent is particularly sensitive to it in relation to the weapon on which it is applied."
        alternative_type=cold
    [/damage_type]
#enddef

#define HRS_ITEM_LIXANDRYL X Y
	{HRS_EQUIPPABLE_ITEM obj_lixandryl {X} {Y}
		(                [not]
					id=Dawoud
                [/not])
		items/sword6.png
		"Lixandryl"
		"This mighty sword houses a genie, increases the damage of the bearer by +2, the number of attacks by +1 and sets the attack type to cold."
		"During a great magical catastrophe, genie searched for shelter in items or living beings to avoid the destructive magic, that would inevitably kill them. It is said that an extraordinary strong genie houses in this sword."
		(
		[effect]
			apply_to=attack
			type=blade
			increase_damage=2
			increase_attacks=1
			set_description=lixandryl
			[set_specials]
				mode=append
				{WEAPON_SPECIAL_COLD}
			[/set_specials]
		[/effect]
		[effect]
			apply_to=halo
			halo=halo/bflames01.png:110,halo/bflames02.png:110,halo/bflames03.png:110,halo/bflames04.png:110,halo/bflames05.png:110,halo/bflames06.png:110,halo/bflames07.png:110,halo/bflames08.png:110,halo/bflames09.png:110,halo/bflames10.png:110,halo/bflames11.png:110,halo/bflames12.png:110,halo/bflames13.png:110,halo/bflames14.png:110,halo/bflames15.png:110
		[/effect]
	)}
#enddef

#define HRS_NOTES_CAN_ONLY_PICK_UP_ONE_ITEM
_" A unit may only hold one item at a time. You can't remove the item. Do you want this unit to pick it up?"#enddef

#define HRS_ABILITY_ICON_OVERLAY IMAGE
	[effect]
		apply_to=overlay
		add=misc/blank-hex.png~BLIT({IMAGE}~CROP(14,14,42,42)~SCALE(16,16),42,0)
	[/effect]
#enddef

#define HRS_NOT_EQUIPPED
	[have_unit]
		x,y=$x1,$y1
		side=1
		[not]
			status=equipped
		[/not]
	[/have_unit]
#enddef

#define HRS_EQUIPPABLE_ITEM ID X Y CAN_TAKE_FILTER_WML IMAGE NAME ITEM_DESCRIPTION FLAVOUR_TEXT EFFECT_WML
    [item]
        x,y={X},{Y}
        image={IMAGE}
    [/item]
	{SET_LABEL {X} {Y} {NAME}}
    [event]
        name=moveto
        first_time_only=no

        [filter]
            x,y={X},{Y}
			side=1
        [/filter]

        [if]
            [have_unit]
                x,y={X},{Y}
                {CAN_TAKE_FILTER_WML}
				
				##:: DE-COMMENT IF YOU WANT TO PLAY IT ON 1.13.5
				[not]
					status=equipped
				[/not]
            [/have_unit]

            [variable]
                name=item_{ID}_{X}_{Y}_picked_up
                not_equals=yes
            [/variable]

            [then]
                [message]
                    speaker=narrator
                    message="<b>"+{NAME}+"</b>. "+{ITEM_DESCRIPTION}+"
" + "
" + {HRS_NOTES_CAN_ONLY_PICK_UP_ONE_ITEM}
                    image={IMAGE}

                    [option]
                        message=_ "Take it."

                        [command]
							[object]
								 name={NAME}
								 image={IMAGE}
								 description={ITEM_DESCRIPTION}+"
" + " 
" + "<i><span color='#aaaaaa'>"+{FLAVOUR_TEXT}+"</span> </i>"
								 {EFFECT_WML}
								 [effect]
									apply_to=overlay
									add=misc/blank-hex.png~BLIT({IMAGE}~CROP(14,14,42,42)~SCALE(16,16),42,0)
								[/effect]
								[effect]
									apply_to=new_ability
									[abilities]
										[dummy]
											name={NAME}
											description={ITEM_DESCRIPTION}
											id={ID}
										[/dummy]
									[/abilities]
								[/effect]
							[/object]
                            [remove_item]
                                x,y={X},{Y}
                                image={IMAGE}
                            [/remove_item]

							{REMOVE_LABEL {X} {Y}}
							
                            [set_variable]
                                name=item_{ID}_{X}_{Y}_picked_up
                                value=yes
                            [/set_variable]

							[modify_unit]
								[filter]
									x,y=$x1,$y1
								[/filter]
								[status]
									equipped=yes
								[/status]
							[/modify_unit]
							
                        [/command]
                    [/option]

                    [option]
                        message=_ "Leave it."

                        [command]
                            [allow_undo]
                            [/allow_undo]
                        [/command]
                    [/option]
                [/message]
            [/then]

            [else]
                [if]
                    [variable]
                        name=item_{ID}_{X}_{Y}_picked_up
                        not_equals=yes
                    [/variable]

                    [then]
                        [message]
                            speaker=narrator
                            message=_"This unit can not use this object."
                            image={IMAGE}
                            side_for=$side_number
                            # the above is used to prevent an AI side from
                            # accidentally triggering this dialog
                        [/message]
                    [/then]
                [/if]

                [allow_undo]
                [/allow_undo]
            [/else]
        [/if]
    [/event]

    [event]
        name=victory

        [clear_variable]
            name=item_{ID}_picked_up
        [/clear_variable]
    [/event]
#enddef

#define HRS_EQUIPPABLE_ITEM_WITHOUT_LABEL ID X Y CAN_TAKE_FILTER_WML IMAGE NAME ITEM_DESCRIPTION FLAVOUR_TEXT EFFECT_WML
    [item]
        x,y={X},{Y}
        image={IMAGE}
    [/item]
    [event]
        name=moveto
        first_time_only=no

        [filter]
            x,y={X},{Y}
			side=1
        [/filter]

        [if]
            [have_unit]
                x,y={X},{Y}
                {CAN_TAKE_FILTER_WML}
				
				##:: DE-COMMENT IF YOU WANT TO PLAY IT ON 1.13.5
				[not]
					status=equipped
				[/not]
            [/have_unit]

            [variable]
                name=item_{ID}_{X}_{Y}_picked_up
                not_equals=yes
            [/variable]

            [then]
                [message]
                    speaker=narrator
                    message="<b>"+{NAME}+"</b>. "+{ITEM_DESCRIPTION}+"
" + "
" + {HRS_NOTES_CAN_ONLY_PICK_UP_ONE_ITEM}
                    image={IMAGE}

                    [option]
                        message=_ "Take it."

                        [command]
							[object]
								 name={NAME}
								 image={IMAGE}
								 description={ITEM_DESCRIPTION}+"
" + " 
" + "<i><span color='#aaaaaa'>"+{FLAVOUR_TEXT}+"</span> </i>"
								 {EFFECT_WML}
								 [effect]
									apply_to=overlay
									add=misc/blank-hex.png~BLIT({IMAGE}~CROP(14,14,42,42)~SCALE(16,16),42,0)
								[/effect]
								[effect]
									apply_to=new_ability
									[abilities]
										[dummy]
											name={NAME}
											description={ITEM_DESCRIPTION}
											id={ID}
										[/dummy]
									[/abilities]
								[/effect]
							[/object]
                            [remove_item]
                                x,y={X},{Y}
                                image={IMAGE}
                            [/remove_item]

							{REMOVE_LABEL {X} {Y}}
							
                            [set_variable]
                                name=item_{ID}_{X}_{Y}_picked_up
                                value=yes
                            [/set_variable]

							[modify_unit]
								[filter]
									x,y=$x1,$y1
								[/filter]
								[status]
									equipped=yes
								[/status]
							[/modify_unit]
							
                        [/command]
                    [/option]

                    [option]
                        message=_ "Leave it."

                        [command]
                            [allow_undo]
                            [/allow_undo]
                        [/command]
                    [/option]
                [/message]
            [/then]

            [else]
                [if]
                    [variable]
                        name=item_{ID}_{X}_{Y}_picked_up
                        not_equals=yes
                    [/variable]

                    [then]
                        [message]
                            speaker=narrator
                            message=_"This unit can not use this object."
                            image={IMAGE}
                            side_for=$side_number
                            # the above is used to prevent an AI side from
                            # accidentally triggering this dialog
                        [/message]
                    [/then]
                [/if]

                [allow_undo]
                [/allow_undo]
            [/else]
        [/if]
    [/event]

    [event]
        name=victory

        [clear_variable]
            name=item_{ID}_picked_up
        [/clear_variable]
    [/event]
#enddef
#define HRS_ITEM_LONGSWORD X Y
	{HRS_EQUIPPABLE_ITEM obj_longsword {X} {Y}
		()
		items/sword.png
		"Longsword"
		"Increases the attack damage of blade type attacks by +2"
		"Just an ordinary sword. Literally half of Wesnoth is carrying one of these. Literally."
		(
		[effect]
			apply_to=attack
			type=blade
			increase_damage=+2
		[/effect])}
#enddef

#define HRS_ITEM_WINGED_CIRCLET X Y 
	{HRS_EQUIPPABLE_ITEM obj_winged_circlet {X} {Y}
	()
		items/circlet_winged.png
		"Winged Circlet"
		"The bearer of the Winged Circlet needs 25% less experience to advance."
		"Some may say, that this is just useless jewelery . . . and indeed it is . . . to a certain extent." (
		[effect]
			apply_to=max_experience
			increase=-25%
		[/effect]
	)}
#enddef

#define HRS_ITEM_NOTES_OF_WAR X Y
	{HRS_EQUIPPABLE_ITEM obj_notes_of_war {X} {Y}
		()
		items/book4.png
		"Notes of War XI"
		"This book grants the leadership ability."
		"This book contains the knowledge of a former great general." (
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_LEADERSHIP}
			[/abilities]
		[/effect]
	)}
#enddef

#define HRS_ITEM_BUCKLER X Y
	{HRS_EQUIPPABLE_ITEM obj_buckler {X} {Y}
		()
		items/shield-targ.png
		"Buckler"
		"Wearing the buckler grants +15 hitpoints. "
		"Round. Tough. Good." (
		[effect]
			apply_to=hitpoints
			increase_total=15
			heal_full=yes
		[/effect]
	)}
#enddef

#define HRS_ITEM_ELVEN_BOW X Y
	{HRS_EQUIPPABLE_ITEM obj_elven_bow {X} {Y}
		()
		items/bow-elven.png
		"Elven Bow"
		"Increases the attack damage of pierce type attacks by +4 and grants the marksman special."
		"Elven bows are said to be crafted of the wood of woses, which grant them magical capabilities. Some say, an arrow shot by an elven bow is able to find its own target."
		(
		[effect]
			apply_to=attack
			type=pierce
			increase_damage=+4
		[/effect]
		[effect]
			apply_to=attack
			range=ranged
			[set_specials]
				mode=append
				{WEAPON_SPECIAL_MARKSMAN}
			[/set_specials]
		[/effect]
		)}
#enddef

#define HRS_ITEM_BOW X Y
	{HRS_EQUIPPABLE_ITEM obj_bow {X} {Y}
		()
		items/bow.png
		"Bow"
		"Increases the attack damage of pierce type attacks by +2."
		"The bow is widely used across the Great Continent."
		(
		[effect]
			apply_to=attack
			type=pierce
			increase_damage=+1
		[/effect]
		)}
#enddef

#define HRS_ITEM_GIANT_SPEAR X Y
	{HRS_EQUIPPABLE_ITEM obj_spear_giant {X} {Y}
		()
		items/spear4.png
		"Giant Spear"
		"Wearing this giant spear in battle will increase the units damage by +5."
		"Round. Tough. Good." (
		[effect]
			apply_to=attack
			type=pierce
			increase_damage=5
			set_description=giant spear
		[/effect])
	}
#enddef

#define HRS_ITEM_GREEN_CLOAK X Y
	{HRS_EQUIPPABLE_ITEM obj_green_cloak {X} {Y}
		()
		items/cloak-green.png
		"Green Cloak"
		"This cloak grants the nightstalk ability."
		"This cloak has been made by Flygurgnygiwin Calakbyrdygnin, the most famous designer of Wesnoth." (
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_NIGHTSTALK}
			[/abilities]
		[/effect]
	)}
#enddef

#define HRS_ITEM_FLAMING_SWORD X Y
	{HRS_EQUIPPABLE_ITEM_WITHOUT_LABEL obj_flaming_sword {X} {Y} 
		(                [not]
					id=Dawoud
                [/not])
		items/flame-sword.png
		"Flaming Sword"
		"This sword grants a fire attack type to a blade weapon."
		"'Do not touch it. It is hot, hot, hot!'"
		(
		[effect]
			apply_to=attack ### maybe dual attack for later iteration
			range=melee
			type=blade
			[set_specials]
				mode=append
				{WEAPON_SPECIAL_FIRE}
			[/set_specials]
			set_description=flaming sword
		[/effect]
		[effect]
			apply_to=halo
			halo=scenery/flames01.png:110,scenery/flames02.png:110,scenery/flames03.png:110,scenery/flames04.png:110,scenery/flames05.png:110,scenery/flames06.png:110,scenery/flames07.png:110,scenery/flames08.png:110,scenery/flames09.png:110,scenery/flames10.png:110,scenery/flames11.png:110,scenery/flames12.png:110,scenery/flames13.png:110,scenery/flames14.png:110,scenery/flames15.png:110
		[/effect]
	)}
#enddef

#define HRS_ITEM_FIRE_ARROWS X Y
	{HRS_EQUIPPABLE_ITEM obj_fire_arrows {X} {Y}
		()
		items/fire_arrows.png
		"Fire arrows"
		"Grants a fire dual attack type to ranged attacks."
		"A flaming sword is great . . . but what about flaming arrows?!" (
		[effect]
			apply_to=attack ### maybe dual attack for later iteration
			range=ranged
			[set_specials]
				mode=append
				{WEAPON_SPECIAL_FIRE}
			[/set_specials]
		[/effect])}
#enddef

#define HRS_ITEM_BIDHANDER X Y
	{HRS_EQUIPPABLE_ITEM obj_bidhander {X} {Y}
		()
		items/sword3.png
		"Bidhander"
		"Increases the attack damage of blade type attacks by +3"
		"A great sword that can only be used with both hands. Greater orcs and trolls sometimes use them in a single hand, if they captured one."
		(
		[effect]
			apply_to=attack
			type=blade
			increase_damage=+3
		[/effect])}
#enddef

#define HRS_ITEM_OAKEN_STONE X Y
	{HRS_EQUIPPABLE_ITEM obj_oaken_stone {X} {Y}
		()
		items/oakensstone.png
		"A stone"
		"The stone grants the regeneration ability.."
		"This stone looks odd and it feels like it doesn't belong to this earthly realm."
		(
		[effect]
			apply_to=halo
			halo=halo/elven/elven-shield-halo-100pct.png
		[/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_REGENERATES}
			[/abilities]
		[/effect]
		)}
#enddef

#define HRS_ITEM_EYE_OF_THE_DRAGON X Y
	{HRS_EQUIPPABLE_ITEM obj_eye_of_the_dragon {X} {Y}
		()
		items/ball-blue.png
		"Eye of the Dragon"
		"Grants another attack per turn."
		"It indeed is an eye of the dragon, believe me! No, no, it is not just a magically enchanted stone!"
		(
		[effect]
			apply_to=max_attacks
			increase=1
		[/effect])}
#enddef

#define HRS_SHOP_ITEM NAME DESCRIPTION FILTER_WML FILTER_TXT IMAGE COSTS EFFECT_WML
	[option]
		image={IMAGE}
		label= _ {NAME}+"
" + "["+{COSTS}+"gold]
" + ""+{FILTER_TXT}+""
		description={DESCRIPTION}
		[show_if]
			[variable]
				name=gold
				greater_than_equal_to={COSTS}
			[/variable]
		[/show_if]
		[command]
			[if]
				[have_unit]
					x,y=$x1,$y1
					{FILTER_WML}
					[not]
						status=equipped
					[/not]
				[/have_unit]
			[then]
				[store_unit_type]
					type=$unit.type
					variable=phantom
				[/store_unit_type]
				
				[modify_unit]
					[filter]
						x,y=$x1,$y1
					[/filter]
					[status]
						equipped=yes
					[/status]
				[/modify_unit]
			
				[gold]
					side=$unit.side
					amount=-{COSTS}
				[/gold]
				
				[sound]
					name=data/core/sounds/gold.ogg
				[/sound]
				
				[object]
					 name={NAME}
					 image={IMAGE}
					 description={DESCRIPTION}
					 {EFFECT_WML}
					 [effect]
						apply_to=overlay
						add=misc/blank-hex.png~BLIT({IMAGE}~CROP(14,14,42,42)~SCALE(16,16),42,0)
					[/effect]
					[effect]
						apply_to=profile
						description="$phantom.description|" + " 
" + "
" + "Item: " + {NAME} +"
" + {DESCRIPTION}# "$unit.unit_description|" + {DESCRIPTION}
					[/effect]
				[/object]
			[/then]
			[else]
				[message]
					speaker=narrator
					image=wesnoth-icon.png
					message= _ "This item does not suit the unit."
				[/message]
			[/else]
			[/if]
		[/command]		
	[/option]
#enddef

#define HRS_SHOP_MERCENARY NAME DESCRIPTION IMAGE COSTS UNIT_WML
	[option]
		image={IMAGE}
		label= _ {NAME}+"
" + "["+{COSTS}+"gold]"
		description={DESCRIPTION}
		[show_if]
			[variable]
				name=gold
				greater_than_equal_to={COSTS}
			[/variable]
		[/show_if]
		[command]
			[gold]
				side=$unit.side
				amount=-{COSTS}
			[/gold]
			[sound]
				name=data/core/sounds/gold.ogg
			[/sound]
			
			{UNIT_WML}
		[/command]		
	[/option]
#enddef